$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: em(16);
    font-weight: 500;
}

#root{
    width: 100%;
    height: 100%;
}

#content{
    height: 100%;
    background-color: #ffffff;
}

.feature-header{
    height: em(800);
    background-image: radial-gradient(circle at 50% 80%, #f7f7f7 50%, #d6d6d6 80%);

    .container{
        padding-top: em(100);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 50%;

        .container-btn{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;

            .btn-round{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                width: em(285);
            }
        }
        
        .social-container{
            img{
                width: auto;
                height: em(20);
            }

            margin: em(10) auto auto em(-30);
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            height: em(50);
            width: em(200);

            section{
                font-size: em(10);
            }
        }
    }

    .feature-img{
        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        width: em(199);
        height: em(625);
    }

    .logo-orange{
        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin-top: em(100);
        width: auto;
        height: em(60);
    }
    
    p{
        margin: em(15) auto em(25) auto;
    }
}

.section-footer{
    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: em(700);

        .container{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: em(200);

            p{
                margin: em(15) auto em(40) auto;
            }

            .logo-orange{
                user-drag: none; 
                user-select: none;
                -moz-user-select: none;
                -webkit-user-drag: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                width: auto;
                height: em(60);
            }
            
            .container-btn{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;

                .btn-round{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    width: em(285);
                }
            }
            
            .social-container{
                img{
                    width: auto;
                    height: em(20);
                }

                margin-top: em(50);
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                height: em(50);
                width: em(300);

                section{
                    font-size: em(10);
                }
            }
        }
    }
}

